<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="view-transition" content="auto">
    <link rel="stylesheet" href="/public/styles.css" type="text/css" />
    {% block headextra %}{% endblock %}
</head>

<body>
    <div class="hide-on-big">
        {% include "partials/logo-and-title.html" %}
    </div>
    {% include "partials/nav-menu.html" %}
    <main>
        {% include "partials/error-alert.html" %}
        {% block content %}
        {% endblock %}
        {{ session | dump }}
    </main>

    {% include "partials/footer.html" %}
    <script src="/public/scripts.js" type="text/javascript"></script>
</body>

</html>
