{% macro input(
  name, 
  label, 
  type='text',
  value='',
  errors={}, 
  placeholder='', 
  required=false,
  onChange=''
) %}

{% set hasError = errors[name] %}

<div class="input-group">
  <label for="{{ name }}" class="label {% if hasError %}invalid{% endif %}">
    {{ label }}
  </label>
  <input 
    type="{{ type }}" 
    name="{{ name }}" 
    id="{{ name }}" 
    {% if value %}value="{{ value }}" {% endif %}
    placeholder="{{ placeholder }}" 
    {% if onChange %}data-on-change="{{ onChange }}" {% endif %}
    data-bind-{{ name }}
    {% if hasError %}class="invalid"{% endif %}
    {% if required %}required{% endif %}
  >

  {% if hasError %}
    <p class="error">{{ errors[name] }}</p>
  {% endif %}

</div>

{% endmacro %}
