{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<h2>Change Password</h2>
{% if user.role == 'admin' and selectedUser and selectedUser.id != user.id %}
<p class="warning">You are resetting another user's password as an administrator.</p>
{% endif %}

<form action="/user/{{ selectedUser.id }}/change-password" method="post">

    {% if user.role != 'admin' %}
    <label for="current_password">Current Password</label>
    <input type="password" name="currentPassword" required minlength="6" maxlength="40" />
    {% if errors.current_password %}
    <p class="error">{{ errors.current_password }}</p>
    {% endif %}
    {% endif %}

    <label for="new_password">New Password</label>
    <input type="password" name="newPassword" required minlength="6" maxlength="40" />
    {% if errors.newPassword %}
    <p class="error">{{ errors.newPassword }}</p>
    {% endif %}

    <label for="confirm_password">Confirm New Password</label>
    <input type="password" name="confirmPassword" required minlength="6" maxlength="40" />
    {% if errors.confirmPassword %}
    <p class="error">{{ errors.confirmPassword }}</p>
    {% endif %}


    <div class="button-group">
        <a class="button" href="/user/{{ selectedUser.id }}">Cancel</a>
        <input type="submit" value="Change Password" />
    </div>
</form>
{% endblock %}
