{% extends "base.html" %}

{% block title %}
Edit User
{% endblock %}

{% block content %}

<h2>Edit User</h2>

<form action="/user/{{ selectedUser.id }}" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" value="{{ selectedUser.username }}" required minlength="3" maxlength="20" />
    {% if errors.username %}
    <p class="error">{{ errors.username }}</p>
    {% endif %}

    <label for="name">Name</label>
    <input type="text" name="name" value="{{ selectedUser.name }}" />
    {% if errors.name %}
    <p class="error">{{ errors.name }}</p>
    {% endif %}

    <label for="email">Email</label>
    <input type="text" name="email" value="{{ selectedUser.email }}" required />
    {% if errors.email %}
    <p class="error">{{ errors.email }}</p>
    {% endif %}

    {% if user.role == 'admin' %}
    <label for="role">Role</label>
    <select name="role">
        <option value="admin" {% if selectedUser.role=='admin' %}selected{% endif %}>Admin</option>
        <option value="user" {% if selectedUser.role=='user' %}selected{% endif %}>User</option>
    </select>
    {% endif %}

    <div class="button-group">
        <button type="reset">Reset</button>
        <input type="submit" value="Save" />
    </div>
</form>

{% endblock %}
