{% extends "base.html" %}

{% block title %}
Admins Only
{% endblock %}

{% block content %}

<h1>Admins Only</h1>
<p>The content you are trying to access is only available to admins.</p>

{% if user %}
<p>You are logged in as {{ user.username }}.</p>
{% else %}
<p>You are not logged in.</p>
{% endif %}

<h2>What to do?</h2>

{% if not user %}
<a class="button" href="/auth/login?redirect={{ destination }}">Login</a>
{% endif %}
<button onclick="history.back()">Go back</button>
<a class="button" href="/">Return home</a>

{% endblock %}
