{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<h2>Profile</h2>
{% if user %}
<dl>
    <dt>Username</dt>
    <dd>{{ user.username }}</dd>
    <dt>Email</dt>
    <dd>{{ user.email }}</dd>
    <dt>Name</dt>
    <dd>{{ user.name or '-' }}</dd>
    <dt>Role</dt>
    <dd>{{ user.role }}</dd>
    <dt>ID</dt>
    <dd>{{ user.id }}</dd>
</dl>

<a href="/user/{{ user.id }}/change-password" class="button">Change Password</a>
{% else %}
<p>You are not logged in.</p>
{% endif %}

{% endblock %}
